<template>
  <div id="app">
    <messages-feed />
  </div>
</template>

<script>
import MessagesFeed from './components/MessagesFeed.vue';

export default {
  name: 'App',
  components: {
    MessagesFeed,
  },
};
</script>
